asn1crypto==0.24.0
astroid==2.4.2
autopep8==1.6.0
backcall==0.2.0
bcrypt==3.1.6
beautifultable==0.8.0
bio==1.3.2
biopython==1.79
biothings-client==0.2.6
Brlapi==0.6.7
certifi==2018.8.24
chardet==3.0.4
chrome-gnome-shell==0.0.0
click==7.1.2
cryptography==2.6.1
cson==0.7
cupshelpers==1.0
cycler==0.10.0
decorator==4.4.2
distro==1.3.0
distro-info==0.21
dnspython==1.16.0
entrypoints==0.3
fandogh-cli==1.25.3
httplib2==0.11.3
idna==2.6
ipykernel==5.4.3
ipython==7.19.0
ipython-genutils==0.2.0
isort==5.7.0
jedi==0.18.0
Jinja2==2.10
joblib==1.0.1
jupyter-client==6.1.11
jupyter-core==4.7.0
keyring==17.1.1
keyrings.alt==3.1.1
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
louis==3.8.0
Mako==1.0.7
MarkupSafe==1.1.0
matplotlib==3.3.4
mccabe==0.6.1
mygene==3.2.2
nltk==3.5
numpy==1.20.0
oauthlib==3.1.1
olefile==0.46
pandas==1.3.5
parso==0.8.1
petl==1.7.4
pexpect==4.6.0
pickleshare==0.7.5
Pillow==8.1.0
prompt-toolkit==3.0.14
proton-client==0.7.1
protonvpn-cli==3.11.0
protonvpn-gui==1.7.0
protonvpn-nm-lib==3.7.0
psutil==5.5.1
psycopg2==2.7.7
psycopg2-binary==2.9.1
pycairo==1.16.2
pycodestyle==2.8.0
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0.2
Pygments==2.7.4
PyGObject==3.30.4
pylint==2.6.0
pyOpenSSL==19.0.0
pyparsing==2.4.7
PySimpleSOAP==1.16.2
pysmbc==1.0.15.6
PySocks==1.7.1
python-apt==1.8.4.3
python-dateutil==2.8.1
python-debian==0.1.35
python-debianbts==2.8.2
python-gnupg==0.4.4
pythondialog==3.4.0
pytz==2021.1
pyxdg==0.25
PyYAML==5.4.1
pyzmq==22.0.0
regex==2020.11.13
reportbug===7.5.3-deb10u1
reportlab==3.5.13
requests==2.25.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
retrying==1.3.3
scipy==1.7.3
scour==0.37
SecretStorage==2.3.1
six==1.12.0
speg==0.3
systemd-python==234
toml==0.10.2
tornado==6.1
tqdm==4.56.2
traitlets==5.0.5
tweepy==3.10.0
twitter-stream.py==0.8.4
typed-ast==1.4.2
tzlocal==2.1
unattended-upgrades==0.1
urllib3==1.24.1
wcwidth==0.2.5
websocket-client==0.57.0
wrapt==1.12.1
